<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/create_visualization.js"></script>
  <script type="text/javscript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
    Start time: <input type="text" id="start" value = '1449360000000'>
    End time: <input type="text" id="end" value = '1449361000000'>
    Interval: <select id = "interval"> min
  <option value=5>5</option>
  <option value=10>10</option>
  <option value=15>15</option>
  <option value=20>20</option>
</select>
  <button id="submit_query">Submit Query</button>

  <button id="show_visualization">Show Graph</button>
  <svg id="visualisation" width="1500" height="800"></svg>

  <ul>
    <div class="btn-group" data-toggle="buttons">
      <% for(var i=0; i<candidates.length; i++) { %>

      <div class="radio">
        <label class="btn btn-default">
          <input type="radio" id='<%= candidates[i] %>' value="<%= i %> " name="candidateButton"><%= candidates[i] %> 
        </label>
      </div>
      <% } %>
    </div>


  </ul>
</body>
</html>
